@model List<Student>

@{
    ViewData["Title"] = "Student List";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@Html.ActionLink("Create1", "Create", "Student", null)
<a href="@Url.Action("Create", "Student")">Create2</a>
<a asp-controller="Student" asp-action="Create">Create3</a>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>

    @foreach (var student in @Model)
    {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Age</td>
            <td><a asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a></td>
        </tr>
    }

</table>